name: Trigger Common Docker Pipeline 

on:
  push:
    branches:
      - dev
    paths:
      - 'backend/**'

jobs:
  # trigger-common-pipeline:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Trigger Docker Backend pipeline
  #       run: |
  #         curl -X POST \
  #         -H "Authorization: token ${{ secrets.GH_TOKEN }}" \
  #         -H "Accept: application/vnd.github.everest-preview+json" \
  #         https://api.github.com/repos/aishwaryaDel/docker_image/dispatches \
  #         -d '{
  #           "event_type": "backend-update",
  #           "client_payload": {
  #             "environment": "dev",
  #             "acr_name": "acrtesadevgwc", 
  #             "image_name": "backend-dev",
  #             "commit_sha": "${{ github.sha }}"
  #           }
  #         }'

  build-and-push:
    uses: aishwaryaDel/docker_image/.github/workflows/Docker_backend_call.yml@main
    with:
      environment: "dev"
      image_name: "backend-dev-bolt"
      image_tag: ${{ github.sha }}
      acr_name: "acrtesadevgwc"
    secrets:
      azure_creds: ${{ secrets.AZURE_CREDENTIALS_DEV }}
      docker_env: ${{ secrets.DOCKER_ENV_DEV }} 